<header>

  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand not-selectable">GraphQL Demonstration</span>

    <ul class="navbar-nav mr-auto d-flex flex-row">
      <li class="nav-item mx-3" [routerLinkActive]="['active']">
        <a class="nav-link not-selectable" routerLink="query">View Posts</a>
      </li>
      <li class="nav-item mx-3" [routerLinkActive]="['active']">
        <a class="nav-link not-selectable" routerLink="mutation">Add Post</a>
      </li>
      <li class="nav-item mx-3" [routerLinkActive]="['active']">
        <a class="nav-link not-selectable" routerLink="subscription">Subscription</a>
      </li>
    </ul>
  </nav>
</header>
